<!DOCTYPE html>
<html lang="en" ng-app="contact">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contact app</title>

    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/style.css" />
</head>

<body>

    <div class="container" ng-controller="ContactCtrl">
        <div class="col-md-5">
            <div class="alert alert-success" ng-show="success">
                <strong>Success!</strong> A contact has been added.
            </div>

            <div class="alert alert-danger" ng-show="failed">
                <strong>Error!</strong> Failed to add contact. 
            </div>

            <div class="form-area">
                <form role="form">
                    <br style="clear:both">
                    <h3 style="margin-bottom: 25px; text-align: center;">Contact Form</h3>
                    <div class="form-group">
                        <input type="text" class="form-control" id="name" ng-model="form.name" name="name" placeholder="Name" required>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="phone" ng-model="form.phone" name="phone" placeholder="Phone" required>
                    </div>

                    <button type="button" ng-click="addContact()" id="submit" name="submit" class="btn btn-primary pull-right">Add</button>
                </form>
            </div>

            <div class="table-container">
                <table class="table" ng-show="contacts.length > 0">
                    <tr>
                        <th>SL</th>
                        <th> Name </th>
                        <th> Phone </th>
                    </tr>

                    <tr ng-repeat="contact in contacts">
                        <td> #{{ $index+1 }} </td> 
                        <td>{{ contact.name }}</td>
                        <td>{{ contact.phone }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <script src="js/angular.min.js"></script>
    <script src="js/app.js"></script>
</body>

</html>